.banner{
    color: #fff;
    padding: 2rem 0;
    margin-bottom: 2rem;
    background-color: black;
    }
    
    .article-page .banner{
    padding: 2rem 0;
    }
    .btnfl{
        margin-left: 15px;
    }
    .tag-list{
        margin-top: 20px;
    }
    
    