body {
    font-family: source sans pro, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}

.footer {
    background: #f3f3f3;
    margin-top: 3rem;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.attribution {
    vertical-align: middle;
    margin-left: 10px;
    font-size: .8rem;
    color: #bbb;
    font-weight: 300;
}


.conduitfooter {
     color: #5cb85c;
     font-weight: bold;
     padding: 10px 0;
     text-decoration: none;
}


.conduitfooter:hover {
    color: #2b742b;
    text-decoration: underline
}

.thinkster{
     color: #5cb85c;
     padding: 10px 0;
     text-decoration: none;
}

.thinkster:hover{
    color: #2b742b;
    text-decoration: underline
}



.home-page .banner {
    background: #5cb85c;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .3), inset 0 -8px 8px -8px rgba(0, 0, 0, .3);
}
.banner {
    color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
}

.home-page .banner h1 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font-weight: 700 !important;
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: .5rem;
}

.home-page .banner p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300 !important;
    margin-bottom: 0;
}

.logo-font {
    font-family: titillium web, sans-serif;
}

.feed-toggle{
    border-bottom: 1px solid #bbb;
}
.nav-pills.outline-active .nav-link.active {
    background: #fff !important;
    border-bottom: 2px solid #5cb85c !important;
    color: #5cb85c !important;
}
.nav-pills.outline-active .nav-link {
    border-radius: 0;
    border: none;
}

.nav-pills.outline-active .nav-link {
    background: #fff !important;
    color: #AAAAAA;
}

.nav-pills.outline-active .nav-link:hover {
    background: #fff !important;
    color: black;
}



.article-preview {
    border: 1px solid #bbb;
    padding: 1.5rem 0;
    border-radius: 10px ;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article-preview .article-meta {
    margin: 0 0 1rem;
}

.article-meta img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}
img {
    border: 0;
}

.article-meta .info {
    margin: 0 1.5rem 0 .3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
    
}

.article-meta .info .author {
    display: block;
    font-weight: 500 !important;
    text-decoration: none;
    color: #5cb85c;
}

.article-meta .info .date {
    color: #bbb;
    font-size: .8rem;
    display: block;
}

.btn-outline-success.btn {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}

.btn-outline-success.btn:hover  {
    color: white;
    background-image: none;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-outline-success.btn:active  {
    color: white;
    background-image: none;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.btn-outline-success.btn:focus  {
    color: white;
    background-image: none;
    background-color: #5cb85c;
    border-color: #5cb85c;
}



.pull-xs-right {
    float: right ;
}

.btn-sm, .btn-group-sm>.btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}


.article-preview .preview-link h1 {
    font-weight: 600 ;
    font-size: 1.5rem ;
    margin-bottom: 3px;
    text-decoration: none;
}

.article-preview .preview-link p {
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    color: #999;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.3rem;
    
}

.article-preview .preview-link span {
    max-width: 30%;
    font-size: .8rem;
    font-weight: 300;
    color: #bbb;
    vertical-align: middle;
}

.article-preview .preview-link ul {
    float: right;
    max-width: 50%;
    vertical-align: top;
}

ul.tag-list {
    padding-left: 0 !important;
    display: inline-block;
    list-style: none !important;
}

.article-preview .preview-link ul li {
    font-weight: 300;
    font-size: .8rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tag-default.tag-outline {
    border: 1px solid #ddd;
    color: #aaa !important;
    background: 0 0 !important;
}

ul.tag-list li {
    display: inline-block !important;
}

.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}


.page-item .page-link {
    color: #5cb85c;
    position: relative;
    padding: .5rem .75rem;
    margin-left: -1px; 
    text-decoration: none;
}

.page-item .page-link:hover {
    color: #5cb85c;
    text-decoration: underline;
    position: relative;
    padding: .5rem .75rem;
    margin-left: -1px; 
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
    border-color: #5cb85c;
}



.home-page .sidebar {
    padding: 5px 10px 10px;
    background: #f3f3f3;
    border-radius: 4px;
}

.home-page .sidebar p {
    margin-bottom: .2rem;
}

.tag-default {
    color: #fff !important;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
}

.tag-default{
    background-color: #818a91;
    text-decoration: none;
}

.tag-default:hover{
    background-color: #373a3c;
}

.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}



.publish{
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.publish:hover{
    background-color: #2b742b;
}

.editor-page{
    margin-bottom:164px;
}







